#benefit-3col-2row-2 {
	background: linear-gradient(135deg, #88db00, #00c0ff);
}


#desc-accordion {
	background: linear-gradient(to bottom, #eeeeee, #ffffff);
}
#footer-text-icon-share {
	background: linear-gradient(135deg, #88db00, #00c0ff);
}